/*--Commons--*/

.label {
    display: block;
    margin: 0 0 5px;
}

.input {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    margin: 0 0 10px;
    padding: 10px 15px;
    width: 100%;
}

.input:focus {
	border: 2px solid #405de6;
}

.button {
    background: #405de6;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #eee;
    display: inline-block;
    margin: 0 0 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background: #425ff0;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

img {
	max-height: 400px;
    min-height: 300px;
    max-width: 50vw;
	width:auto;
    padding-top:20px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.content-wrapper.centered {
	height: 80vh;
}

.centered main {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}



/*--Timeline--*/

.button.post {
    display: block;
    float: right;
    width: 80px;
	left: 100vw;
}


form.search-bar {
    display: flex;
    float: left;
    width: 150px;
}

.top-bar {
    display: block;
    position: sticky;
    top: 0vw;
    width: 100;
    z-index: 1;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 40px;
    background-color: white;
}

.timeline h1{
    text-decoration: underline;
}

.timeline {
    width: 70vw;
    background-color: whitesmoke;
}

.timeline-pattern {
	padding: 40px;
    border-bottom: 2px dashed #909090;
}

#plus-button {
    margin-top: 20px
}

/*--Profile--*/

.head-wrapper {
    display: block;
    align-items: center;
}


/*--Post--*/

.postPseudo {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
