.label {
    display: block;
    margin: 0 0 5px;
}

.input {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    margin: 0 0 10px;
    padding: 10px 15px;
    width: 100%;
}

.input:focus {
	border: 2px solid #405de6;
}

.button {
    background: #405de6;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #eee;
    display: inline-block;
    margin: 0 0 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background: #425ff0;
}


.button.post {
    width: 80px;
	left: 100vw;
}


h1 {
	font-family: Arial, Helvetica, sans-serif;
}

img {
	height: 400px;
	width: auto;
}

.searchBar {
	position: sticky;
	top: 0vw;
	left: 0vw;
	z-index: 1;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.content-wrapper.centered {
	height: 80vh;
}

.content-wrapper.timeline {
	
}


main.homepage {
    padding: 20px 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

form.search-bar {
    display: flex;
    width: 150px;
}

.top-bar {
    //display: flex;
    position: sticky;
    top: 0vw;
    width: 100;
    z-index: 1;
}


